<div align="center" class="container" >
		<p id="notice"><%= notice %></p>
<div class="col s12 z-depth-4 card-panel" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
	<h5> Menores puntajes </h5>
<%= render 'user' , user_point: @user_point %>
</div>
</div>
