<p id="notice"><%= notice %></p>
<% if current_user %>
    <% if current_user.is_admin %>
    <%= link_to "Logros", achievements_path, class: 'btn waves-effect waves-light teal orange' %></br></br>
    <% else %>
    <%= link_to "Editar Perfil", edit_user_registration_path(current_user), class: 'btn waves-effect waves-light teal orange' %></br></br>
    <%= link_to "Publicar Gauchada", new_post_path(current_user), class: 'btn waves-effect waves-light teal orange' %></br></br>

    <% end %>

<% else %>
<p id="notice">Solo Usuarios registrados</p>
<% end %>
